aiohttp             
async-timeout       
attrs            
beautifulsoup4     
bs4               
certifi            
cffi               
chardet            
click             
COVID19Py           
cryptography       
cycler         
discord          
discord.py     
Flask              
idna               
itsdangerous        
Jinja2              
kivy-deps.angle     
kivy-deps.glew      
kivy-deps.gstreamer 
kivy-deps.sdl2      
kiwisolver         
MarkupSafe          
matplotlib       
multidict        
numpy              
panda               
pandas           
Pillow            
pip                
pyasn1             
pyasn1-modules      
pycparser           
pygame              
pygame-menu        
pyOpenSSL          
pyparsing          
pyperclip         
pyTelegramBotAPI 
python-dateutil   
pytz                
requests           
scipy              
service-identity    
setuptools        
six               
soupsieve           
telebot            
TelegramBotAPI     
urllib3            
Werkzeug           
wheel               
yarl                
